html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    max-width: 1868px;
    background: #FFFFFF 0% 0% no-repeat padding-box;   
    margin: 0 auto;
  }

  .all {
    margin-left: 9.875rem;
    margin-right: 6.6875rem;

  }

  .grid-container1 {
    display: grid;
    grid-template-columns: 15.6875rem 8.1875rem 8.4375rem 8.5625rem 11.4375rem 6.25rem 9.0625rem 18.875rem 4.0625rem 5.1875rem 4.0625rem;
    /* background-color: coral; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 151px;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(211, 206, 206);
        
}

.grid-item-2:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}

.grid-item-3:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}
.grid-item-4:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}

.grid-item-5:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}
.grid-item-6:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}
.grid-item-7:hover {
  border-bottom: 5px solid black; 
  padding-bottom: 0.5556rem;
  cursor: pointer;
}

.grid-item-9:hover {
  padding-bottom: 0.5556rem;
  cursor: pointer;
}
.grid-item-10:hover {
  padding-bottom: 0.5556rem;
  cursor: pointer;
}

.grid-item-11 {
  width: 3.6111rem;
  height: 3.6111rem;
  background: #446CCD 0% 0% no-repeat padding-box;
  opacity: 1;
}
  

.grid-item-11 i {
  font-size: 1.0556rem;
  color:white;
  margin: 0;
  position: relative;
  top: 11px;
  left: 1px;     

}
.grid-item-11:hover {
  cursor: pointer;
  }

.grid-container1 a:link {
  text-decoration: none;
  color:black;
}

.main {
  width: 100%;
  margin-top: 8.5625rem;

}
.main span {
  font-size: 4.75rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.msg2 {
  width: 48%;
  color: #6C6C6C;
  opacity: 1;
}

.search {
  width: 48%;
  height: 5rem;
}